<div class="card">
  <div class="card-header">
    <h4 class="card-title">Padre</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Mi hijo se llama</label>
      <input type="text" class="form-control" 
        name="nombre" id="nombre" placeholder="" 
        [(ngModel)]="sNombre">
    </div>
    <!-- <button type="button" class="btn btn-primary" (click)="btnBorrar()">Borrar</button> -->
  </div>
  <bbl-hijo [nombre] = "sNombre" (respuesta)="respuestaHijo($event)"></bbl-hijo>
  <div class="card-footer text-muted">
    <p>Mi hijo se llama {{ sNombre }}</p>
  </div>
</div>