<div class="card">
  <div class="card-header">
    <h4 class="card-title">Binding</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Dime tu nombre</label>
      <input type="text" class="form-control" 
        name="nombre" id="nombre" placeholder="" 
        [(ngModel)]="sNombre">
    </div>
    <button type="button" class="btn btn-primary" (click)="btnBorrar()">Borrar</button>
  </div>
  <div class="card-footer text-muted">
    <p>Hola {{ sNombre.toUpperCase() }}</p>
    <p>2765 * 2765 = {{ 2765 * 2765 }}</p>
    <pre>{{ user | json}}</pre>
  </div>
</div>

<!-- Lenguaje de templates
{{expresion | pipes}}
[] operador de propiedades
() operador de eventos
[()] operador de doble binding o "banana in a box"
# - operador de expresiones locales
-->
