
<div class="container">
  <div class="row">
    <nav class="col-8">
      <ul class="nav nav-pills">
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="inicio">Inicio</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link" routerLinkActive="active" routerLink="catalogo">Catalogo</a>
        </li>
        <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active" routerLink="comunics">Comunicaciones</a>
            </li>
<!--           
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="#">Autores</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="#">Noticias</a>
          </li> -->
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="about">Acerca de</a>
          </li>
      </ul>
    </nav>
  </div>
</div>


