
<div class="container">
  <div class="row">
    <nav class="col-12">
      <ul class="nav nav-pills">
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="inicio">Inicio</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link" routerLinkActive="active" routerLink="catalogo">Catalogo</a>
        </li>
        <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active" routerLink="comunics">Comunicaciones</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active" routerLink="agenda">Agenda</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active" routerLink="libros">Libros</a>
            </li>          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="printer">Imprimir</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="about">Acerca de</a>
          </li>
      </ul>
    </nav>
  </div>
</div>


